
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

blockquote {
  margin: 0 0 1rem;
}


strong {
  font-weight: bold;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

img {
  vertical-align: middle;
  border-style: none;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input, button, select, optgroup, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button, select {
  text-transform: none;
}

button, input {
  overflow: visible;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
 /* margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2; */
}

h1, .h1 {
 /* font-size: 2.5rem; */
}

h2, .h2 {
  /*font-size: 2rem; */
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

.intro-content {
  font-size: 1.25rem;
  font-weight: 300;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.profile {
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.navbar-collapse:not(.show) {
    display: none;
}


@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
 }

.navbar-side .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}


}


.container-wrap {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}




.col {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col1 {
    position: relative;
    width: 100%;
    padding-right: 55px;
    padding-left: 15px;
}


@media (min-width: 768px) {
  .col{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
    .col1{
    -ms-flex: 0 0 50%;
    flex: 0 0 25%;
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .col{
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
    .col1{
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 45%;
  }
}


.collapse:not(.show) {
  display: none;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}

.nav-link:hover, .nav-link:focus {
  text-decoration: none;
}


.navbar-side {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.navbar-side > .container,
.navbar-side > .container-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}




.scroll-trigger:hover, .scroll-trigger:focus {
  text-decoration: none;
}

.navbar-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.navbar {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.navbar:hover, .navbar:focus {
  text-decoration: none;
}


.navbar-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}


@media (max-width: 991.98px) {
  .navbar-side > .container,
  .navbar-side > .container-wrap {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 992px) {
  .navbar-side {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-side .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-side .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-side > .container,
  .navbar-side > .container-wrap {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .navbar-side .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  .navbar-side .navbar {
    display: none;
  }
}



.navbar-side > .container,
.navbar-side > .container-wrap {
  padding-right: 0;
  padding-left: 0;
}



.navbar-side > .container,
.navbar-side > .container-wrap {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}





.navbar-side .scroll-tigger:hover, .navbar-side .scroll-trigger:focus {
  color: #fff;
}

.navbar-side .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.5);
}



.navbar-side .navbar {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1);
}

.navbar-side .navbar-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-side .scroll-trigger {
  color: #fff;
}


@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 1rem 0;
  }
  to {
    background-position: 0 0;
  }
}

@keyframes progress-bar-stripes {
  from {
    background-position: 1rem 0;
  }
  to {
    background-position: 0 0;
  }
}

@-webkit-keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


@-webkit-keyframes spinner-grow {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    opacity: 1;
  }
}

@keyframes spinner-grow {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    opacity: 1;
  }
}



a.navbar-side:hover, a.navbar-side:focus,
button.navbar-side:hover,
button.navbar-side:focus {
  background-color: #0062cc !important;
}


.rounded-circle {
  border-radius: 50% !important;
}


.topgo {
  display: block !important;
}



.container-section, .container-item {
  display: -ms-flexbox !important;
  display: flex !important;
}

.profile {
  margin-bottom: 0.5rem !important;
 }

@media (min-width: 992px) {
.topgo {
  display: none !important;
 }
}
---------------------------------


.container-item {
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}

.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.container-item {
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}


.align {
  -ms-flex-align: center !important;
  align-items: center !important;
}


@media (min-width: 768px) {
  .container-item {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }
}


.navbar-side {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}


@supports ((position: -webkit-sticky) or (position: sticky)) {





.c {
  width: 100% !important;
}


.line {
  margin: 0 !important;
}


.ct {
  margin-bottom: 0 !important;
}


.space {
  margin-bottom: 1rem !important;
}



.space-3 {
  margin-bottom: 1rem !important;
}



.container-wrap {
  padding: 0 !important;
}


.container-section {
  padding: 1rem !important;
}


.service-icon,
.profile {
  margin-right: auto !important;
  margin-left: auto !important;
}

.left-block {
    display: none !important;
}


@media (min-width: 768px) {
  .icon-3 {
    margin-bottom: 0 !important;
  }
}

@media (min-width: 992px) {
  .1circle-space {
    margin-bottom: 0 !important;
  }
  .container-section {
    padding: 3rem !important;
  }
    .left-block {
        display: block !important;
    }
}


.text-center {
  text-align: center !important;
}

th {
    text-align: inherit;
}

.service-icon {
    border-radius: 50% !important;
}
.navbar-side .navbar-nav .show > .nav-link, .navbar-side .navbar-nav .active > .nav-link, .navbar-side .navbar-nav .nav-link.show, .navbar-side .navbar-nav .nav-link.active{
    color: #fff;
}